# ------------------------------
# Archivos compilados y logs
# ------------------------------
*.class
*.log
*.ctxt
*.bluej
hs_err_pid*
replay_pid*

# ------------------------------
# IntelliJ IDEA
# ------------------------------
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/httpRequests
.idea/replstate.xml
.idea/caches/build_file_checksums.ser
.idea/**/sonarlint/
.idea/**/sonarIssues.xml
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# ------------------------------
# Eclipse
# ------------------------------
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ------------------------------
# NetBeans
# ------------------------------
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# ------------------------------
# Visual Studio Code
# ------------------------------
.vscode/

# ------------------------------
# Sistema operativo
# ------------------------------
.DS_Store

# ------------------------------
# Maven y Gradle
# ------------------------------
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.gradle/
gradle-app.setting
.gradletasknamecache
!gradle-wrapper.jar
**/build/

# ------------------------------
# Archivos de paquetes
# ------------------------------
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# ------------------------------
# Otros
# ------------------------------
.mtj.tmp/
cmake-build-*/
out/
